//COLORS
$color-white: #fff;

$color-slate-light-soft: rgba(90, 129, 203, 0.4);
$color-slate-light: rgb(90, 129, 203);
$color-slate-medium: rgb(42, 58, 89);
$color-slate-dark: rgb(24, 33, 51);

$color-red-0: red;

$font-script: "Merienda";